{% extends "base.html" %}

{% block content %}

<form action="/matches" method="post">

    <div>
        <label for="home_team">Home Team:</label>
        <select id="home_team" name="home_team_id">
          {% for team in all_teams %}
            <option value="{{team.id}}">
              {{ team.name }}
            </option>
          {% endfor %}
        </select>
    </div>

    <div>
        <label for="away_team">Away Team:</label>
        <select id="away_team" name="away_team_id">
          {% for team in all_teams %}
            <option value="{{team.id}}">
              {{ team.name }}
            </option>
          {% endfor %}
        </select>
    </div>



    <div>
        <button type="submit">Update Team</button>
    </div>
  
{% endblock %}