{% extends "base.html" %}

{% block content %}

<form action="/match/{{match.id}}" method="post">

    <div>
        <label for="home_team">Home Team:</label>
        <select id="home_team" name="home_team_id">
          {% for team in all_teams %}
            <option value="{{team.id}}" {% if match.home_team.id== team.id %} selected="selected"{% endif %}>
              {{ team.name }}
            </option>
          {% endfor %}
        </select>
    </div>

    <div>
        <label for="away_team">Away Team:</label>
        <select id="away_team" name="away_team_id">
          {% for team in all_teams %}
            <option value="{{team.id}}"{% if match.away_team.id== team.id %} selected="selected"{% endif %}>
              {{ team.name }}
            </option>
          {% endfor %}
        </select>
    </div>

    <br>

    <div>
        <label for="home_score">Home Score:</label>
        <input type="number" id="home_score" name="home_score" placeholder="0" min="0" max="10">
    </div>

    <div>
        <label for="away_score">Away Score:</label>
        <input type="number" id="away_score" name="away_score" placeholder="0" min="0" max="10">
    </div>

    <br>

    <div>
        <label for="result">Result:</label>
        <select id="result" name="result">
            <option value="Home Win"{% if match.result == "Home Win" %} selected="selected"{% endif %}>Home Win</option>
            <option value="Away Win"{% if match.result == "Away Win" %} selected="selected"{% endif %}>Away Win</option>
            <option value="Draw"{% if match.result == "Draw" %} selected="selected"{% endif %}>Draw</option>
        </select>
    </div>

    <br>

    <div>
        <button type="submit">Update Match</button>
    </div>
</form>
  
{% endblock %}