{% extends "base.html" %}

{% block content %}

<form action="/matches" method="post">

  <div>
    <label for="home_team">Home Team:</label>
    <select id="home_team_id" name="home_team_id">
      {% for team in all_teams %}
      <option value="{{team.id}}">{{team.name}}</option>
      {% endfor %}
    </select>
  </div>

  <br>

  <div>
    <label for="away_team">Away Team:</label>
    <select id="away_team_id" name="away_team_id">
      {% for team in all_teams %}
      <option value="{{team.id}}">{{team.name}}</option>
      {% endfor %}
    </select>
  </div>

  <br>

  <div>
    <label for="result">Result:</label>
    <select id="result" name="result">
      <option value="Home Win">Home Win</option>
      <option value="Away Win">Away Win</option>
      <option value="Draw">Draw</option>
    </select>
  </div>

  <br>

  <div>
      <button type="submit">Add Match</button>
  </div>
   
  </form>
{% endblock %}