{% extends "base.html" %}

{% block content %}

<form action="/matches" method="post">

  <div>
    <label for="home_team">Home Team:</label>
    <select id="home_team_id" name="home_team_id">
      {% for team in all_teams %}
      <option value="{{team.id}}">{{team.name}}</option>
      {% endfor %}
    </select>
  </div>

  <br>

  <div>
    <label for="away_team">Away Team:</label>
    <select id="away_team_id" name="away_team_id">
      {% for team in all_teams %}
      <option value="{{team.id}}">{{team.name}}</option>
      {% endfor %}
    </select>
  </div>

  <br>

  <div>
    <label for="home_score">Home Score:</label>
    <input type="number" id="home_score" name="home_score" value="0" min="0" max="10">
  </div>

  <div>
      <label for="away_score">Away Score:</label>
      <input type="number" id="away_score" name="away_score" value="0" min="0" max="10">
  </div>

  <br>

  <div>
      <button type="submit">Add Match</button>
  </div>
   
  </form>
{% endblock %}