{% extends "base.html" %}

{% block content %}

<div class="match_teams">
    <form action="/teams" method="GET">
      <button id="backarrow" class="back_arrow" ><img src="/static/images/Backarrow.png" width="25px"/></button>
    </form>
    <p>
      <a href="">{{match.home_team.name}}</a> Vs {{match.away_team.name}} 
    </p>
</div>
    <p>{{match.result}}</p>
    <p>{{match.home_score}} - {{match.away_score}}</p> 

    <form action="/matches/{{match.id}}/edit" method="GET">
        <div>
          <button type="edit">Edit</button>
        </div>
</div>
</form>
<form action="/match/{{match.id}}/delete" method="POST">
  <div>
    <button type="delete">Delete Match</button>
</div>

{% endblock %}