{% extends "base.html" %}

{% block content %}

<form action="/teams/{{team.id}}" method="post">

    <div>
      <label for="teamname">Team Name:</label>
      <input type="text" id="teamname" name="teamname" value="{{team.name}}" required autofocus>
    </div>

    <div>
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" Value="{{team.position}}" required autofocus>
    </div>
    <div>
        <label for="gamesplayed">Games Played:</label>
        <input type="text" id="gamesplayed" name="gamesplayed" value="{{team.gamesplayed}}" required autofocus>
      </div>
    <div>
        <label for="wins">Wins:</label>
        <input type="text" id="wins" name="wins" value="{{team.wins}}" required autofocus>
    </div>
    <div>
        <label for="draws">Draws:</label>
        <input type="text" id="draws" name="draws" value="{{team.draws}}" required autofocus>
    </div>
    <div>
        <label for="loses">Loses:</label>
        <input type="text" id="loses" name="loses" value="{{team.loses}}" required autofocus>
      </div>
    <div>
        <label for="points">Points:</label>
        <input type="text" id="points" name="points" value="{{team.points}}" required autofocus>
    </div>


      
    <div>
        <button type="submit">Update Team</button>
    </div>
   
  </form>

{% endblock %}