{% extends "base.html" %}

{% block content %}

<div class="team_badge">
  <img src="/static/images/ClubBadges/{{team.name}}.png" alt="" width="50px">
</div>


<form action="/teams/{{team.id}}" method="post">

    <div class="team_name">
      <label for="teamname">Team Name:</label>
      <input type="text" id="teamname" name="teamname" value="{{team.name}}" required autofocus>
    </div>

    <div class="team_buttons">
        <button type="submit">Update Team</button>
    </div>
</form>
{% endblock %}