{% extends "base.html" %}

{% block content %}

<div class="team_title">
    <div class="title_content">
        <div>
            <img class="club_badge" src="/static/images/ClubBadges/{{team.name}}.png" alt="" width="50px">
        </div> 
        <h2>
            <b>{{team.name}}</b>
        </h2>
    </div>
</div>

<div class="team_buttons">
    <form action="/teams/{{team.id}}/edit" method="GET">
        <div>
        <button type="edit">Edit</button>
        </div>
    </form>

    <form action="/teams/{{team.id}}/delete" method="POST">
        <div>
            <button type="delete">Delete</button>
        </div>
    </form>
</div>


{% if team.name == "Chelsea" %}

<div class="honours">
    <h3>Honours</h3>
    <ul>
        <li>
            Current Champions League Holders
        </li>
        <li>
            Current Super Cup Holders
        </li>
    </ul>
</div>

<div class="team_position">
    <div>
        <hr>
        <p>
            <b>Games Played: </b> {{team.gamesplayed}}
        </p>
        <p>
            <b>Wins: </b> {{team.wins}} 
        </p>
        <p>
            <b>Draws: </b> {{team.draws}}
        </p>
        <p>
            <b>Loses: </b> {{team.loses}} 
        </p>
        <p>
            <b>Points: </b> {{team.points}}
        </p>
    </div>

<hr>

</div>

<div class="matches">
    <img src="/static/images/matches.png" alt="">
</div>

<div class="all_team_matches">
    {% for match in all_matches %}
        {% if match.home_team.name == team.name %}
        <div class="team_match">
            <p>
                <b>
                    <a href="/match/{{match.id}}">Match {{match.id}} - {{match.result}}</a>
                </b>
            </p>
            <p>{{match.home_team.name}} vs {{match.away_team.name}}</p>
            <p>{{match.home_score}} - {{match.away_score}}</p>
        </div>
        {% elif match.away_team.name == team.name %}
        <div class="team_match">
            <p>
                <b>
                    <a href="/match/{{match.id}}">Match {{match.id}} - {{match.home_team.name}} vs {{match.away_team.name}} - {{match.result}}</a>
                </b>
            </p>
            <p></p>
            <p>{{match.home_score}} - {{match.away_score}}</p>
        </div>
        {% endif %}
    {% endfor %}

{% else %}   
<hr>
        <div class="team_position">
            
            <p>
                Games Played: {{team.gamesplayed}}
            </p>
            <p>
                Wins: {{team.wins}} 
            </p>
            <p>
                Draws: {{team.draws}}
            </p>
            <p>
                Loses: {{team.loses}} 
            </p>
            <p>
                Points: {{team.points}}
            </p>
        </div>

    <hr>

    </div>

    <div class="matches">
        <img src="/static/images/matches.png" alt="">
    </div>

    <div class="all_team_matches">
        {% for match in all_matches %}
            {% if match.home_team.name == team.name %}
            <div class="team_match">
                <p>
                    <b>
                        <a href="/match/{{match.id}}">Match {{match.id}} - {{match.result}}</a>
                    </b>
                </p>
                <p>{{match.home_team.name}} vs {{match.away_team.name}}</p>
                <p>{{match.home_score}} - {{match.away_score}}</p>
            </div>
            {% elif match.away_team.name == team.name %}
            <div class="team_match">
                <p>
                    <b>
                        <a href="/match/{{match.id}}">Match {{match.id}} - {{match.home_team.name}} vs {{match.away_team.name}} - {{match.result}}</a>
                    </b>
                </p>
                <p></p>
                <p>{{match.home_score}} - {{match.away_score}}</p>
            </div>
            {% endif %}
        {% endfor %}
{% endif %}
   
</div>

{% endblock %}