body {
    margin:0
}

header {
    background-color: rgb(67, 23, 96);
}

footer {
    background-color: rgb(67, 23, 96);
    width: 98%;
    padding: 1%;
}

footer h5 {
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.premierlogo {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.premierlogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
}

nav {
    margin: 0;
}

.menu {
    color: orange;
    justify-content: center;
    display: flex;
    flex-wrap: row;
    margin-left: 150px;
    margin-right: 150px;

}

.links {
    padding: 10px;
    flex-basis: 20%;
    margin-bottom: 5px;
    background-color: rgb(67, 23, 96);
    
}

.link_table {
    padding-left: 30%;
    padding-right: 30%;
}

.link_teams {
    padding-left: 30%;
}

.link_matches {
    padding-left: 22%
}

.link_about {
    padding-left: 26%;
}

.menu .links:hover {
    background-color: rgb(62, 21, 90);

}

.menu li {
    margin: 1px;
    list-style: none;
    justify-content: center;
}
.menu li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Arbutus Slab', serif;
    font-family: 'Open Sans', sans-serif;
}

.menu li a hover {
    color: red;
}

.lion_head {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}