.table_container {
    margin-left: 36%;
    margin-right: 33%;
    margin-top: 3%;
}

.table {
    display: block;
    margin-left: 150px;
    margin-right: 150px;
}

.table tr th{
    padding: 10px;
    border: 1px solid black;
}

.table tr td {
    padding: 10px;
    border: 1px solid black;

}

.tr_club {
    margin-right: 50px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(67, 23, 96);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/* .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
} */

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} 

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid  rgb(67, 23, 96);
}

.styled-table tbody tr.active-row {
    color: black;
}