body {
    background-color: rgb(233,236,239);
}

.create_team_button {
    margin: 20px;
    margin-top: 25px;
    
}

.container {
    margin-bottom: 4%;
}

.all_teams {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    margin-bottom: 20px;
}

.add_team_button {
    margin-left: 20px;
}

.team {
    background-color: rgb(248, 249, 250);
    margin: 10px;
    padding: 10px;
    flex: 5%;
    box-shadow: 1px 1px 5px 0.5px;
    max-height: 150px;
    max-width: 100px;
}

.team_name {
    margin-top: 20px;
    margin-left: 30px;
}

.team_badge {
    margin-left: 30px;
}


.team_content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

.club_badge {
    margin:10px
}

.team_title {
    background-image: url("/static/images/banner.png");
    height: 50px;
    padding: 20px;
}

.team_title h2 {
    color: white;
    padding-left: 15px;
}

.title_content {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    margin: -8px;
}

.team_buttons {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 30px;
}

.team_position {
    margin: 30px;
}

.matches img{
    width: 100%;
}

.all_team_matches {
    margin: 30px;
}

.honours {
    margin-left: 30px;
}

.honours h3 {
    text-decoration: underline;
}

.honours ul li {
    font-size:  18px;
}

.new_team_name {
    margin-left: 30px;
    margin-top: 30px;
}
.new_team_button {
    margin-left: 30px;
}