{% extends "base.html" %}

{% block content %}

    <img src="https://resources.premierleague.com/photos/2021/09/16/dbc1f43d-aa79-4969-8c6c-ec0139a53687/ManCity2021.jpeg?width=930&height=620" alt="" width="630px" height="420px">
    <h2>
        Find out more about how the Premier League is organised
    </h2>
    <p><b>The Premier League is the organising body of the Premier League with responsibility for the competition, its Rule Book and the centralised broadcast and other commercial rights.</b></p>
    <p>However, we do not operate in isolation. We work proactively and constructively with our Member Clubs and the other football authorities to improve the quality of football, both in England and across the world.</p>
    <br>
    <h2>The Member Clubs of the Premier League</h2>
    <p>The Premier League is a private company wholly owned by its 20 Member Clubs who make up the League at any one time.</p>
    <p>Each individual club is independent, working within the rules of football, as defined by the Premier League, The FA, UEFA and FIFA, as well as being subject to English and European law.</p>
    <p>Each of the 20 clubs are a Shareholder in the Premier League. Consultation is at the heart of the Premier League and Shareholder meetings are the ultimate decision-making forum for Premier League policy and are held at regular intervals during the course of the season.</p>
    <p>The Premier League AGM takes place at the close of each season, at which time the relegated clubs transfer their shares to the clubs promoted into the Premier League from the Football League Championship.</p>
    <p>Clubs have the opportunity to propose new rules or amendments at the Shareholder meeting. Each Member Club is entitled to one vote and all rule changes and major commercial contracts require the support of at least a two-thirds vote, or 14 clubs, to be agreed.</p>
    <p>The Premier League Rule Book, contained within the Handbook (Download: Premier League Handbook; PDF 21.34MB), serves as a contract between the League, the Member Clubs and one another, defining the structure and running of the competition.</p>
    <p>Any serious breach of the Rule Book results in an independent three-person tribunal sitting to hear the case, ascertain guilt and set the punishment, which can range from fines to points deductions and, in extreme cases, expulsion from the competition (this has never happened in the history of the Premier League).</p>
    <br>
    <h2>Premier League UK workforce</h2>
    <p>The Premier League head office is based in central London. The organisation has a staff of 191 people who deliver across a range of roles including football, coach development, community, youth development, safeguarding, broadcast, commercial, communications, digital, finance, legal, marketing and policy.</p>
    <p>The Premier League’s current UK workforce includes 16.2 per cent Black, Asian, minority ethnic representation and we are committed to delivering equality, diversity and inclusion across the organisation. We are currently in the process of achieving the EY National Equality Standard and therefore our activities and polices are independently assessed.</p>

{% endblock %}