<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='matchesstyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='teamsstyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='tablestyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='aboutstyle.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <title>Premier League {{ title }}</title>
</head>
<body>
  <header>
    <div class="premierlogo">
      <a href="/"><img src="/static/images/LargeWhiteLogo.png" alt=""></a>
    </div>
    <nav>
      <ul class="menu">
        <div class="links">
          <li class="link_table">
            <a href="/">TABLE</a>
          </li>
        </div>
        <div class="links">
          <li class="link_teams">
            <a href="/teams">TEAMS</a>
          </li>
        </div>
        <div class="links">
          <li class="link_matches">
            <a href="/matches">MATCHES</a>
          </li>
        </div>
        <div class="links">
          <li class="link_about">
            <a href="/about">ABOUT</a>
          </li>
        </div>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <h5>© PREMIER LEAGUE 2021</h5>
  </footer>
</body>
</html>
