{% extends "base.html" %}

{% block content %}

<div class="fixtures">
    <img src="/static/images/fixtures.png" alt="" width=100%>
</div>

<div class="new_match">
    <form method="get" action="/newmatch">
        <input type="image" src="/static/images/createbutton.png" width=7%/>
    </form>
</div>

<div class="create_team_button">
    <form method="get" action="/newteam">
        
    </form>
</div>  

{% for match in all_matches %}

<div class="match">
    <h3>Match {{match.id}}</h3>
    <a href="/match/{{match.id}}">{{match.home_team.name}} <span>{{match.home_score}} - {{match.away_score}}</span> {{match.away_team.name}}</a>
</div>

{% endfor %}

{% endblock %}