{% extends "base.html" %}

{% block content %}

<form action="/teams" method="post">

    <div>
      <label for="teamname">Team Name:</label>
      <input type="text" id="teamname" name="teamname" placeholder="Team Name" required autofocus>
    </div>
    <div>
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" placeholder="Position" required autofocus>
    </div>
    <div>
        <label for="gamesplayed">Games Played:</label>
        <input type="text" id="gamesplayed" name="gamesplayed" placeholder="Games Played" required autofocus>
      </div>
    <div>
        <label for="wins">Wins:</label>
        <input type="text" id="wins" name="wins" placeholder="Wins" required autofocus>
    </div>
    <div>
        <label for="draws">Draws:</label>
        <input type="text" id="draws" name="draws" placeholder="Draws" required autofocus>
    </div>
    <div>
        <label for="loses">Loses:</label>
        <input type="text" id="loses" name="loses" placeholder="Loses" required autofocus>
      </div>
    <div>
        <label for="points">Points:</label>
        <input type="text" id="points" name="points" placeholder="Points" required autofocus>
    </div>

    <br>

    <div>
        <button type="submit">Add Team</button>
    </div>
   
  
  </form>

{% endblock %}