{% extends "base.html" %}

{% block content %}

<div class="leaguetable">
  <img src="/static/images/leaguetable.png" alt="" width=100%>
</div>

<div class="table_container">
  <table class="styled-table">
    <thead>
        <tr>
          <th></th>
          <th>Club</th>
          <th>MP</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>Pts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          {% for team in all_teams %}
          <tr>
            <td>{{team.position}}</td>
            <td>{{team.name}}</td>
            <td>{{team.gamesplayed}}</td>
            <td>{{team.wins}}</td>
            <td>{{team.draws}}</td>
            <td>{{team.loses}}</td>
            <td>{{team.points}}</td>
          </tr>
          {% endfor %}
        </tr>
    </tbody>
  </table>
</div>



{% endblock %}