<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            Arsenal
        </li>
        <li>
            Aston Villa
        </li>
        <li>
            Brentford
        </li>
        <li>
            Brighton & Hove Albion
        </li>
        <li>
            Burnley
        </li>
        <li>
            Chelsea
        </li>
        <li>
            Crystal Palace
        </li>
        <li>
            Everton
        </li>
        <li>
            Leeds United
        </li>
        <li>
            Leicester City
        </li>
        <li>
            Liverpool
        </li>
        <li>
            Manchester City
        </li>
        <li>
            Manchester United
        </li>
        <li>
            Newcastle United
        </li>
        <li>
            Norwich City
        </li>
        <li>
            Southampton
        </li>
        <li>
            Tottenham Hotspur
        </li>
        <li>
            Watford
        </li>
        <li>
            West Ham United
        </li>
        <li>
            Wolverhampton Wanderers
        </li>
    </ul>
</body>
</html>