{% extends "base.html" %}

{% block content %}
<div class="add_team_button">
    <form method="get" action="/newteam">
        <button type="submit">Add Team</button>
    </form>
</div>
    


<div class="all_teams">

    {% for team in all_teams %}

        <div class="team">
            <div class="team_content">
                <a href="/team/{{team.id}}">{{team.name}}</a>
                <div class="club_badge">
                    <img src="/static/images/ClubBadges/{{team.name}}.png" alt="" width="50px">
                </div>
            </div>
        </div>

    {% endfor %}
</div>

    {% for team in alphabetical %}

        <div>
            <div>
                <p>{{team}}</p>
                
            </div>
        </div>

    {% endfor %}
{% endblock %}